@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin:0;
font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
.head{
    background-color: #ffd56b;
    text-align:center;
  padding-bottom:  50px;
}
.header{
  display: grid;
  grid-auto-flow:column;
}
.heading{
  text-align: center;
}
.headerIcon{
   width:50px;
}
.chilli,.nut,.sauce{
   display: grid;
  justify-content: start; 
  margin-left: 20px;

}
.paperroll,.soap{
  display: grid;
  justify-content: right;  
margin-right: 20px;
}
.coffee{
   display: grid;
  justify-content: right; 
  margin-right: 20px;

}
.watermelon{
    margin-left: 100px;

}
.bread{
  margin-right: 100px;
}
.sauce{
      margin-left: 150px;

}
.soap{
  margin-right:150px;
}
h1{
font-family: 'Poppins', sans-serif;
font-weight:700;
font-size:3.5rem;
margin: 0;


}
h2{
 font-family: 'Poppins', sans-serif;
 font-weight:500; 
 margin: 0;
 font-size:1.7rem; 

}


.searchBar input {
  height: 60px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  font-size: 18px;
  padding-left:40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width:100%;
}
.searchBar{
  margin:auto;
  margin-bottom: 10px;
  margin-top: 50px;
 position:relative;
  width:100%;

}

.Map {
  color:#4aa96c;
  font-size: 1.5rem;
  position: absolute;
  margin-top: 18px;
  margin-left: 15px;
}
.Compass{
 
  font-size: 1.8rem;
    color:grey;
  position: absolute;
    margin-top: 18px;
  margin-left: 70%;

  
}
.searchButton{
  background-color: #4aa96c;
  color:white;
  padding:10px;
   font-family: 'Poppins', sans-serif;
width:120px;
  border-radius:5px;
  border-style: hidden;
  font-size:1rem;
    position: absolute;
   
    margin-top: 10px;
margin-left:80%;
}


.Locations{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
 justify-content: center;
  font-family: 'Poppins', sans-serif;
    color:gray;
  font-weight: 500;
  font-size:0.8rem;
}
.Locations li{
  padding: 8px;

}
.Nav{
    background-color: #ffd56b;
    display:grid;
  min-height: 100px;
   grid-auto-flow:column;

}
.groceryIcon{
  width:40px;
  margin-left:20px;
    margin-top:20px;  
  border-color: #fff;
  border-style: solid;
  border-width: 10px 10px 0 0;
  background-color: #fff;
  border-radius: 15%;
  
 
}
#Icon{
  display: grid;
  justify-content: start;
   grid-auto-flow:column;
 column-gap: 1rem;
}

#buttons{
  display: grid;
  justify-content: right;
  grid-auto-flow:column;
      margin-top:20px;  
margin-right: 20px;
}
.btn1{
  width:120px;
    height: 50px;

 color:#4aa96c;
  background-color: #ffd56b;
  border:none;
  font-weight: bolder;
  font-size:1rem;
  
}
.btn2{
     background-color: #4aa96c;
  color:white;
   
width:150px;
  height: 50px;
  border-radius:5px;
  border-style: hidden;
  font-size:1rem;

}
.Navhead{
        margin-top:20px;  
        line-height: 5px;
color:grey;
}
.Navhead1{
  color:#fb9300;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}


.Features{
 padding-left: 100px;
}
.tag{
  color: grey;
}
.subHeads{
   padding-top: 50px;
}
.subHeads h2{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}
.row2{
 margin:30px;
 display:flex;
 flex-direction:row;
 padding:5px;
  line-height: normal;
}
.column2{
   margin-right:20%;
  font-weight: bold;
}
.check{
color:#fb9300;

}
.Searches,.Partner{
  background-color: #ffeedb;
  text-align: center;
  padding-bottom: 50px;
}
.searchesImage{
  width:80px;
  margin-top: 50px;
  
}
.Searches-col{
  width:20%;
}
.Partner-col{
  width:33%;
}
.Searches-row{
  display: flex;
  justify-content: space-around;
  margin:0;
  margin-bottom: 50px;
  text-align: center;
}

.Steps h2,.Steps .tag{
  text-align: center;

}
.step-image{
  margin-left: 70px;
  margin-top: 50px;
  width:400px;
}
h3{
  font-size: 1.5rem;
}
.number{
  background-color: #fb9300;
  color:white;
  border-color:#fb9300;
  border-radius: 50%;
      border: 1px solid #fb9300;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;

}
.Step1{
  margin: auto;
      text-align: center;

  width:450px;
}
.Socialbtn{
   width: 100%;
    max-width: 140px;
   color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  background-color: #101010;
    font-size: 10px;
  display:flex;
  flex-direction: row;
}
.Socialbtn p{
}
.Socialicon{
  width: 20%;
   text-align: center;
   font-size: 30px;
  margin-right: 15px;
  margin-top: 5px;
}

 .Bigtxt {
   font-size: 15px;
  }
.Buttons{
  width:100%;
    text-align: center;
}
.Inner{
  display: inline-block;
}
.Stepsrow{
   display: flex;
  flex-wrap: wrap;
  width: 100%;


}


.stepsrow,.Partnerrow,.LastRow {
  display: flex;
  flex-direction: row;
 margin-top:100px;
  justify-content: center;
  text-align: center;
}
.Partnerrow{
  justify-content:space-between;
  text-align: left;
  background-color: #E5D549;
  width:80%;
  margin: auto;
  margin-bottom: -100px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 20px;
}
.stepscolumn {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 100px;
}

.PartnerImage{
  width:250px;
  margin: auto;
    border-radius: 50%;

}
.LastRow{
  width:80%;
  margin: auto;
    margin-top: 100px;
  font-size: 0.8rem;
    text-align: left;

}
.LastRow .Navhead1{
  text-align: left;
  font-size: 1.2rem;
}
.LastRow a{
  display: block;
  color:grey;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
.lastrowbtn{
  width: 100%;
    max-width: 140px;
   color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  background-color: #101010;
    font-size: 8px;
  display:flex;
  flex-direction: row;
  
}
.LastRowColumn{
  width:33%;
  text-align: left;
}
.LastRowColumn2 a{
  margin-left:0; 
}
.Footer{
  width:80%;
  margin: auto;
  font-size: 0.8rem;
}
.Footer p,.footerCol{
  display:inline;
}
.footerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:grey;
  font-weight: bold;
}
.footerCol a,.icon{
  margin: 4px;
}
.Inst{
  
}
.icon{
    font-size:1rem;

}
.Fb{
  color: #3B5998;
}
.Tweet{
  color:#55ACEE;
}
.Youtube{
  color:#bb0000;
}
.Inst{
  color:#8a3ab9;
}
.collapseicon{
  display: none;
  color:#4aa96c;
  font-size: 40px;
}
@media only screen and (max-width: 800px) {
  body{
  }
  .chilli,.nut,.sauce,.paperroll,.soap,.coffee,.watermelon,.bread,.sauce,.burger,.grain,.pumpkin,.carrot,.searchButton{
    display: none;
  }
  .searchBar{
    width:70vw;
   
  }
  h1{
    font-size:8vw;
  }
  h2{
    font-size: 6vw;
  }
  .Compass{
    margin-left: 65vw;
  }
  .stepsrow{
    display: flex;
    flex-direction:column;
  }
  .stepsrow_reverse{
    display: flex;
    flex-direction:column-reverse
  }
  .Partnerrow{
     display: flex;
    flex-direction:column-reverse;
    margin-bottom: -200px;
        width:90%;

  }
  .LastRow{
    margin-top: 200px;
    width:90%;
  }
}
@media only screen and (max-width: 360px) {
       .Locations{
    display: grid;
    flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr ;
  align-items: center;
    justify-content: center;
  }
  .collapseicon{
    display: block;
  }
  .btn1,.btn2{
    display:none;
  }
  .searchBar{
margin: 0;
    margin-left: 25px;
    margin-top: 25px;
  }
   .Locations{
     
padding: 0;  
  }
  .row{
    flex-direction: column;
    
  }
  .Features{
    padding: 5px;;
  }
  .Delivery,.step-image{
    width:70vw;
  }
  .row2,.Searches-row,.Step1,.LastRow{
  display: flex;
  flex-direction: column;
  }
  .Searches-col,.Partner-col, .Step1,.Partnerrow,.LastRowColumn,footerCol{
    width:100%;
  }
  .PartnerImage{
    margin-right: 50px;
    margin-top: 20px;
  }
  .footerRow{
    display: flex;
    flex-direction: column-reverse;
  }
}